<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="update_user_modal" class="modal fade" th:id="'updateUserModal' + @{${user.id}}" tabindex="-1"
     aria-labelledby="updateUserModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateUserModalLabel">Update User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container">
        <form th:action="@{/soundbox/user-handling/update/{userId} (userId =${user.id})}"
              method="post"
              th:object="${user_form}">
          <div class="mb-3">
            <label for="updateUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="updateUsername"
                   name="updateUsername"
                   required
                   th:filed="*{updateUsername}"
                   th:value="@{${user.username}}"
            />
          </div>
          <div class="mb-3">
            <label for="updateEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="updateEmail"
                   name="updateEmail"
                   required
                   th:filed="*{updateEmail}"
                   th:value="@{${user.email}}"
            />
          </div>
          <div class="mb-3">
            <label for="currentRole" class="form-label">Current Role</label>
            <input type="text" class="form-control" id="currentRole"
                   name="currentRole"
                   required
                   th:value="@{${user.userRole}}"
                   readonly
            />
          </div>
          <div class="mb-3">
            <label for="updateUserRole" class="form-label">Role</label>
            <select id="updateUserRole" th:field="*{updateUserRole}"
                    class="form-select">
              <option value="">Select Update Role</option>
              <option th:each="role: ${user_role}"
                      th:value="${role}"
                      th:text="${role} + '-' + ${role == user.userRole}"
                      th:selected="${role == user.userRole}"></option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>