<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{index}"
>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="card-container">
            <div class="type-card dashboard-card">
                <div th:replace="components/chart_fragment"></div>
            </div>
            <div class="testing-card dashboard-card">
                <div th:replace="components/mqtt_testing_fragment::mqtt-testing"></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>