<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="components/fragments :: import_header">
    <title>Login</title>
</head>
<body>

<div class="container login-container">
    <div class="card login-card">
        <div class="card-body m-5">
            <h2 class="text-primary">Login</h2>
            <form th:action="@{/soundbox/login}" method="post">
                <div class="form-group">
                    <label for="username">Email:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter email" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password"
                           name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


<!-- Alert container -->
<div id="alert-container" class="alert-container"></div>

<!-- Call the displayAlert function to show alert based on message -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${message}]]*/ ''; // Retrieve the message from Thymeleaf model
    displayAlert(message);

    // Function to close the alert with fade-out effect
    setTimeout(function() {
        var alertContainer = document.getElementById('alert-container');
        alertContainer.style.transition = "opacity 1s"; // Transition effect over 1 second
        alertContainer.style.opacity = "0"; // Fade out by setting opacity to 0
        setTimeout(function() {
            alertContainer.parentNode.removeChild(alertContainer);
        }, 3000); // Remove alert after 3 second
    }, 4000); // Wait for 4 seconds before starting the fade-out effect
    /*]]>*/
</script>
</body>
</html>