<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}"
>
<body>
<section layout:fragment="content">
    <div class="container">
        <h3 class="text-primary">Sound Box</h3>
        <div class="sound-box-page-header">
            <div class="input-search-container">
                <label for="searchInput" class="form-label">Search</label>
                <input type="search" id="searchInput" class="form-control" placeholder="Search..." aria-label="Search">
            </div>
            <div class="filter-btn-container">
                <label for="statusFilterDropdown" class="form-label">Filter By Status</label>
                <select id="statusFilterDropdown" class="form-select" aria-label="Default select" onchange="filterByStatus(this)">
                    <option th:value="ALL" th:text="ALL"></option>
                    <option th:each="group: ${sound_box_status}"
                            th:value="${group}" th:text="${group}"
                    ></option>
                </select>
            </div>
            <div class="filter-btn-container">
                <label for="bankFilterDropdown" class="form-label">Filter By Bank</label>
                <select id="bankFilterDropdown" class="form-select" aria-label="Default select" onchange="filterByBank(this)">
                    <option th:value="ALL" th:text="ALL"></option>
                    <option th:each="group: ${bank_codes}"
                            th:value="${group}" th:text="${group}"
                    ></option>
                </select>
            </div>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSoundBoxModal">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i> Add Sound Box
            </button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#importSoundBoxModal">
                <i class="fa fa-upload" aria-hidden="true"></i> Import Sound Box
            </button>
            <div th:replace="components/modal/import_file :: import_file"></div>
        </div>
        <div class="sound-box-table">
            <div class="row">
                <div class="col-md-12">
                    <div th:replace="components/table_fragment :: sound-box-table" ></div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="components/modal/add_sound_box_modal_fragment :: add_sound_box_modal"></div>

</section>
</body>
</html>